@using PizzaPan.PresentationLayer.Models
@model LoginViewModel
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = null;
}

<!--<link href="~/lib/boostrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">

        <label>Kullanıcı Adınız:</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Şifreniz:</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
    </form>
</div>-->

  

<!DOCTYPE html>
<html>
    <style>
    header .header {
        background-color: #fff;
        height: 45px;
    }

    header a img {
        width: 134px;
        margin-top: 4px;
    }

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

        .login-page .form .login {
            margin-top: -31px;
            margin-bottom: 26px;
        }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background-color: #328f8a;
            background-image: linear-gradient(45deg,#328f8a,#328f8a);
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #328f8a;
                text-decoration: none;
            }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

    body {
        background-color: #328f8a;
        background-image: linear-gradient(45deg,#328f8a,#328f8a);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    h4{
        color:red;
    }
    </style>
<head>
    <link rel="stylesheet" href="style.css">
    <title> PizzaPan Giriş Sayfası </title>
</head>
<body>
    <body>
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h4><em>PİZZAPAN</em></h4>
                        <p><b>Giriş yapmak için lütfen gerekli alanları giriniz.</b></p>
                    </div>
                </div>
                <form class="login-form" method="post">
                    <input type="text" placeholder="Kullanıcı Adı"  />
                    <input type="password" placeholder="Şifre" />
                    <button>Giriş Yap</button>
                    <p class="message">Hesabınız Yok Mu? <a href="/Register/Index">Bir Hesap Oluşturun!</a></p>
                </form>
            </div>
        </div>
    </body>
</body>
</html>






  

